.gameArea
{
    width: 1280px;
    height: 840px;
    display: grid;
    
    padding-top: 5%;
    grid-template-columns: repeat(12, 1fr);
}


.eventLog
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;

    background-color: lightgray;
}

.artArea
{
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: rgb(41, 41, 41);
    background-image: url("maps/level1/background.png");
    background-size: 600;
    background-position: center;
    background-repeat: no-repeat
    ;
    color: white;
}

.objectList
{
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: lightgray;
}

.inputBar
{
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color:rgb(44, 34, 13);
    color: white;

    text-align: center;
    font-size: 20px;
}